*{
    margin:0;
    padding:0;
}
body{
    background-color:white;
    color:#555555;
    font-family:Arial,Helvetica,sans-serif;
    font-size:16px;
    font-weight:normal;
    font:normal 16px Arial,Helveta,sans-serif;
    line-height:1.6em;
    margin:0;
}
a{
    text-decoration:none;
    color:#000
}
a:hover{
    color:red;
}
a:active{
    color:green;
}
a:visited{
    color:black;
}

.container{
    width:80%;
    margin:auto;

}
.box-1{
    background-color:#333;
    color:#fff;
    border-right:5px red solid;
    border-left:5px red solid;
    border-top:5px red solid;
    border-bottom:5px red solid;
    border:5px white;
    border-width:3px;
    border-bottom-width:10px;
    border-top-style:10px;
    border-top-style:dotted;
    border:5px red solid;
    padding-top:20px;
    margin-top:20px;
    margin:20px 0;
}
.box-1 h1{
    font-family:Tohoma;
    font: weight 800px;
    font-style:italic;
    text-transform:uppercase;
    letter-spacing:0.2em;
    word-spacing:0em;

}
.box-2{
    border:3px dotted #ccc;
    padding: 20px;
    margin:20px 0;
}
.catogeries{
    border:1px #ccc solid;
    padding:10px;
    border-radius:15px;

}
.catogeries h2{
    text-align:center;
}
.catogeries ul{
    padding:0;
    list-style:square;
    list-style:none;

}
.catogeries li{
    padding-bottom:0px;
    border-bottom:dotted 0px #333;
    padding-left:0px;
    list-style-image:url('lod.jpg');
    background-size:0px 0px ;
    padding-bottom:0px;
    border-bottom:dotted 0px #333
}
.my-form{
    padding-bottom:20px;
}
.my-form .form-group{
    padding-bottom:15px;
}
.my-form label{
    display:block;
}
.my-form input[type="text"], .myform textarea{
    padding:8px;
    width:100%;
}
.button{
    background-color:#333;
    color:#fff;
    padding:10px 15px;
    border:none
}
.clr{
    clear:both
}
.button:hover{
    background:red;
    color:white;
}
.block{
    float:left;
    width:33.3%;
    border:1px solid #ccc;
    padding:10px;
    box-sizing:border-box;

}


